.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
handler.zip
.terraform-build/
__pycache__/
*.py[cod]
.pytest_cache/
